<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="../../assets/img/logo.png" alt="logo">
        </div>
        <div class="header__title">
            <h1>Currency Converter</h1>
        </div>
        <div class="header__exchange-rate">
            <div class="header__dollar">Dollar: {{dollarSale | number: '2.2-2'}}</div>
            <div class="header__euro">Euro: {{euroSale | number: '2.2-2'}}</div>
        </div>
    </div>
</header>